{:itonami.blueprint/id "cloud-itonami-isic-2630"
 :itonami.blueprint/name "Manufacture of Communication Equipment"
 :itonami.blueprint/isic-rev5 "2630"
 :itonami.blueprint/domain :manufacturing/communication-equipment
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:connectivity-access :consumer-safety :industrial-jobs]
 :itonami.blueprint/governor :commsdevice-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :cae :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies [:cfd :telemetry :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
