{:kotoba.app/id "cloud.itonami.isic-2630", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih4xjmmzg3loxyzby2tehxpck3dtywk6zkjim4fux7jwol7x2jn2m", :kotoba.app/embed-url "ipfs://bafkreih4xjmmzg3loxyzby2tehxpck3dtywk6zkjim4fux7jwol7x2jn2m", :published {:archive "https://kotobase.net/ipfs/bafkreih4xjmmzg3loxyzby2tehxpck3dtywk6zkjim4fux7jwol7x2jn2m", :size 72755, :put-status 201, :get-status 200, :at "2026-08-15T13:55:10.589Z"}}
